.playerList {
    display: none;
    .player {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        img {
            border-radius: 50%;
        }
    }

    .manager {
        order: 1;
    }

    .goalkeeper {
        order: 3;
    }

    .leftBack {
        order: 4;
    }

    .back,
    .defender {
        order: 5;
    }

    .rightBack {
        order: 6;
    }

    .midfield {
        order: 7;
    }

    .wing {
        order: 8;
    }

    .forward {
        order: 9;
    }

    .other {
        order: 10;
    }
}
